* {
    padding: 0px; 
    margin: 0px;
}

.font-1 {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal; 
  }

.background_main {
    background: url(./Images/50315155879.jpg) center center no-repeat;
    background-size: cover;
    height: 350px;
    background-position: 100% 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #dff3e4;
}

ul {
    display: flex; 
    justify-content: center;
    list-style: none;
    background-color: #283F3B;
    border-top: 2px #dff3e4 solid;
    border-bottom: 2px #dff3e4 solid;   
    font-weight: 550;
}

li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #dff3e4;
    font-size: 20px;
}

li:hover {
    background-color:#556F44;
    transition: 0.7s;
}

.background_info {
    background: url(./Images/download\ \(1\).png) center center no-repeat;
    background-size: cover;
    height: 450px;
    background-position: 100% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #dff3e4;
}

.main_text {
    color: #dff3e4;
    background-color: #556F44;
    padding: 20px 50px;
    border-bottom: 2px #dff3e4 solid;
    margin: 0 auto;
    max-width: 63.4%;
    font-weight: 400;
    border-left: 2px #dff3e4 solid;
    border-right: 2px #dff3e4 solid;
    text-align: center;
}

main {
    background-color: #283F3B;
}


.pano {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
    max-width: 70%;
    display: flex;
    align-items: center;
    border-left: 2px #dff3e4 solid;
    border-right: 2px #dff3e4 solid;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #556F44;
    color: #dff3e4;
    border-top: 2px solid #dff3e4;
    margin: 0 auto;
    max-width: 70%;
    border-left: 2px solid #dff3e4;
    border-right: 2px solid #dff3e4;
}

.footer-spacing {
    padding-top: 10px;
    padding-bottom: 8px;
}

.Footer_title {
    font-size: 12px;
}

.Footer_subtitle {
    font-size: 10px;
}

.large_footer_link {
    font-size: 12px;
}

.small_footer_link {
    font-size: 10px;
}

.large_footer_link:hover {
    text-decoration: underline;
}

.small_footer_link:hover {
    text-decoration: underline;
}


footer {
    background-color: #283F3B;
}

.information_main_format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 70%;
    font-size: 15px;
    border-left: #dff3e4 2px solid;
    border-right: #dff3e4 2px solid;
    border-bottom: #dff3e4 2px solid;
}
 
.information_title {
    text-align: center;
    background-color:  #283F3B;
    color: #dff3e4;
    border-bottom: #dff3e4 2px solid;
}

.info_text {
    text-align: center;
    color: #dff3e4;
    background-color: #556F44;
}

.header_text {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: #dff3e4;
    background-color: #556F44;
}

.information_subtitle {
    font-weight: 300;
    padding-top: 10px;
}

.info_image {
    width: 55%;
    border-bottom: #dff3e4 2px solid;
    border-right: #dff3e4 2px solid;
}

.head_part {
    display: flex;
}

.image_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image1 {
    max-width: 30%;
    border:#dff3e4 2px solid;
    margin: 10px;
}

.image1:hover {
    max-width: 120%;
    border: #dff3e4 2px solid;
    transition: 1s;
    margin: 20px;
}

.image1:not(:hover) {
    transition: 0.5s;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}